##### GCP #####

# Path to google cloud, account service api keys json file
GOOGLE_APPLICATION_CREDENTIALS=<path account service api keys json file>

##### AIRFLOW #####
# Base path to which all the files will be volumed.
AIRFLOW_PROJ_DIR=./airflow-home

# AIRFLOW_UID - User ID in Airflow containers
AIRFLOW_UID=1000
