##### GCP #####

# Path to google cloud, account service api keys json file
#   1. Create dev/credentials.json file in the project root
#   2. Paste the contents of account service api keys into the file
GOOGLE_APPLICATION_CREDENTIALS=dev/credentials.json

# GCP project id
GCP_PROJECT_ID=<gcp project id>

# Unique prefix for all GCP resource names.
# Use your GCP project ID or a short identifier to avoid naming collisions.
# Check terraform/variables.tf
GCP_PREFIX=<gcp prefix> # <- replace with a unique value (e.g. your GCP project ID)


##### AIRFLOW #####
# Base path to which all the files will be volumed.
AIRFLOW_PROJ_DIR=./airflow-home

# AIRFLOW_UID - User ID in Airflow containers
AIRFLOW_UID=1000
